:root {
    --strong-cyan: hsl(172, 67%, 45%);
    /* Neutral */
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --light-cyan: hsl(189, 41%, 97%);
}

body{
    background-color:hsl(185, 41%, 84%);
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: 'Space Mono', monospace;
    flex-direction: column;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.custom-btn{
    background-color: hsl(185, 41%, 84%);
    color:hsl(186, 14%, 43%);
}

.label-result, .label-total{
    font-size: 35px;
    color: hsl(172, 67%, 45%);
}

.main_container{

    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    margin: 50px;
    border-radius: 15px;
    width: 920px;
    display: flex;  
    
    /*align-items: center;*/

}

.item{
    background-color: hsl(0, 0%, 100%);
    color: #fff;
    font-size: 35px;
    padding: 10px;
    margin: 10px;
}

.item-1{
    width: 50%;
   
}
.item-2{
    background-color: hsl(183, 100%, 15%);
    border-radius: 15px;  
    padding: 43px; 
    width: 50%;
}

label{
    display: block;
    font-size: 16px;
    margin-top: 25px;
    
}


input{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
    text-align:right;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    
    
}
.container-input{
    position: relative;
    margin-bottom: 25px;
}
.container-input::before{
    position: absolute;
    background: url(../images/icon-dollar.svg);
    background-color: hsl(185, 41%, 84%);
    background-repeat: no-repeat;
    content: "";
    width: 30px;
    height: 30px;
    top: 23px;
    left: 10px;
}

.container-input.people::before{
    background: url(../images/icon-person.svg);
    background-repeat: no-repeat;
}

.container-button{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-button button.active{
    background-color: hsl(172, 67%, 45%);
}

.container-button button:hover{
     background-color:hsl(172, 67%, 45%);
     color:  hsl(0, 0%, 100%);
}

.container-label, .container-label-people {
    display: flex;
    justify-content: space-between;
}

.error{
    color:salmon;
    display: none;
}

button, .container-custom{
    width: 120px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    border-radius: 10px;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.container-custom{
    background-color: hsl(185, 41%, 84%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(183, 100%, 15%);
    position: relative;
}

.custom-input{
    position: absolute;
    width: inherit;
    background: white;
    border: 1px solid green;
    opacity: 0;
}

.container-custom label{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;

}

.container-custom.show-custom-input label{
    opacity: 0;
    z-index: 1;
}
.container-custom.show-custom-input input{
    opacity: 1;
    z-index: 2;
}

.container-custom.show-custom-input {
    background: white;
}

.amount{
    display: flex ;
    justify-content: space-between;
    margin-bottom: 15px;
}

.amount-result{
  text-align: right;
}
.reset{
    text-align: center;
    width: 100%;
    margin-top: 118px;
    background-color: hsl(172, 67%, 45%);
    color: hsl(186, 14%, 43%);
    opacity:0.3;
    
}

.reset.active{
    opacity: 1;
    cursor: pointer;
}

/*.reset:hover{
    background-color: hsl(185, 41%, 84%);
    color: hsl(186, 14%, 43%);
}*/

.bill{
    margin-top: 0px;
}

.bill, .tip, .number-people{
    color: hsl(186, 14%, 43%);
}
span{
    font-size: 16px;
    display:block;
    color: hsl(185, 41%, 84%);
}

.container-label.show-error .error{
  display: block;
}
.container-label-people.show-error .error{
    display: block;
  }

.show-error + .container-input input{
    border: 2px solid salmon;;
}